<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GeneralDailyDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="ExceptionHandlingConfiguration">
    <sources>
      <add name="CacheConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\CASWebConfig\CacheConfiguration.config" />
      <add name="DataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\CASWebConfig\dataConfiguration.Dev.config" />
      <add name="ExceptionHandlingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\CASWebConfig\exceptionHandlingConfiguration.config" />
      <add name="FileServerConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\CASWebConfig\FileServerConfiguration.config" />
      <add name="ServerSettingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="C:\CASWebConfig\ServerSettingConfiguration.config" />
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <GeneralDailyDownload.Properties.Settings>
      
           <setting name="GeneralDailyDownload_CasperjsWebService_DownloadPageAPI"
                serializeAs="String">
             
             <value>http://mshkrm01/downloadpageservice/DownloadPageAPI.asmx</value>
            </setting>
      <!--http://localhost:63010/DownloadPageAPI.asmx-->
    </GeneralDailyDownload.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ProductMode" value="DEV" />
    <add key="ProjectConfigFile" value="DailyDownloadProjects.dev.xml"/>
    <add key="OutputBaseFolder" value="c:\Users\wwu\Desktop\Simple_crawler"/>
    <add key="MailServer" value="prodmail.morningstar.com"/>
    <add key="AuthenAccount" value=""/>
    <add key="AuthenPassword" value=""/>
    <add key="EmailFrom" value="Weilong.Wu@morningstar.com"/>
    <add key="DisplayName" value="GeneralDailyDownload.DEV"/>
  </appSettings>
</configuration>